$background_color: #F3F7FB;
$primary_color: #5661F6;
$sidebar_color: #ffffff;
$text_color: #000000;
$primary_faded: #E5E8FF;
$black_color: #000000;
$white_color: #ffffff;
$grey: #CCCCCC;
$dark_grey: #C0C0C0;